---
import MainLayout from '../layouts/main.astro';
import { TerminalText } from '../components/ui/terminal-text';
---

<MainLayout content={{ title: 'Astro + TailwindCSS' }}>
	<main class="flex items-center justify-center h-screen w-screen bg-black">
		<TerminalText client:load text="$ Loading, please wait..." speed={100} />
	</main>
</MainLayout>
